html {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    background-color: white
}

a.comment-indicator:hover+div.comment {
    background: #ffd;
    position: absolute;
    display: block;
    border: 1px solid black;
    padding: 0.5em
}

a.comment-indicator {
    background: red;
    display: inline-block;
    border: 1px solid black;
    width: 0.5em;
    height: 0.5em
}

div.comment {
    display: none
}

table {
    border-collapse: collapse;
    page-break-after: always
}

.gridlines td {
    border: 1px dotted black
}

.gridlines th {
    border: 1px dotted black
}

.b {
    text-align: center
}

.e {
    text-align: center
}

.f {
    text-align: right
}

.inlineStr {
    text-align: left
}

.n {
    text-align: right
}

.s {
    text-align: left
}

td.style0 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: '等线';
    font-size: 11pt;
    background-color: white
}

th.style0 {
    vertical-align: bottom;
    border-bottom: none #000000;
    border-top: none #000000;
    border-left: none #000000;
    border-right: none #000000;
    color: #000000;
    font-family: '等线';
    font-size: 11pt;
    background-color: white
}

td.style1 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #0070C0 !important;
    border-top: 1px solid #0070C0 !important;
    border-left: 2px dashed #0070C0 !important;
    border-right: 2px dashed #0070C0 !important;
    color: #000000;
    font-family: '方正姚体';
    font-size: 11pt;
    background-color: #FFFFFF
}

th.style1 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #0070C0 !important;
    border-top: 1px solid #0070C0 !important;
    border-left: 2px dashed #0070C0 !important;
    border-right: 2px dashed #0070C0 !important;
    color: #000000;
    font-family: '方正姚体';
    font-size: 11pt;
    background-color: #FFFFFF
}

td.style2 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #0070C0 !important;
    border-top: 2px dashed #0070C0 !important;
    border-left: 2px dashed #0070C0 !important;
    border-right: 2px dashed #0070C0 !important;
    font-weight: bold;
    color: #ED7D31;
    font-family: '华文彩云';
    font-size: 26pt;
    background-color: #FFE598
}

th.style2 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #0070C0 !important;
    border-top: 2px dashed #0070C0 !important;
    border-left: 2px dashed #0070C0 !important;
    border-right: 2px dashed #0070C0 !important;
    font-weight: bold;
    color: #ED7D31;
    font-family: '华文彩云';
    font-size: 26pt;
    background-color: #FFE598
}

td.style3 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px dashed #0070C0 !important;
    border-top: 1px solid #0070C0 !important;
    border-left: 2px dashed #0070C0 !important;
    border-right: 2px dashed #0070C0 !important;
    color: #FF0000;
    font-family: '方正姚体';
    font-size: 11pt;
    background-color: #FFFFFF
}

th.style3 {
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px dashed #0070C0 !important;
    border-top: 1px solid #0070C0 !important;
    border-left: 2px dashed #0070C0 !important;
    border-right: 2px dashed #0070C0 !important;
    color: #FF0000;
    font-family: '方正姚体';
    font-size: 11pt;
    background-color: #FFFFFF
}

table.sheet0 col.col0 {
    width: 100%
}

table.sheet0 tr {
    height: 15pt
}

table.sheet0 tr.row0 {
    height: 33pt
}

table.sheet0 tr.row1 {
    height: 20.1pt
}

table.sheet0 tr.row2 {
    height: 20.1pt
}

table.sheet0 tr.row3 {
    height: 20.1pt
}

table.sheet0 tr.row4 {
    height: 20.1pt
}

table.sheet0 tr.row5 {
    height: 20.1pt
}

table.sheet0 tr.row6 {
    height: 20.1pt
}

/* button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 3px 3px 5px #888888;
}

button:hover {
    background-color: #45a049;
} */